.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.caru_Style {
  width: 10%;
  height: 10%;
}
#card {
  /* margin: 5% auto;  */
  height: 200px;
  width: 100%;
  color: #fff;
  font-size: 30px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  /* min-height: 200px; */
  /* min-width: 200%; */
}
.back_col {
  background-color: #0f0f0f;
}
#form_width {
  width: 30%;
  height: 10%;
}
/* #tel_style {
  margin-left: 2.5%;
} */
.footer {
  background-color: paleturquoise;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: crimson;
  /* color: floralwhite; */
}
.zabu_Nisa_style {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #512da8;
}
