.jumbotron {
  margin-bottom: 10%;
}
.col-sm {
  background-color: blueviolet;
}
/* #img_style {
  width: 100%;
  height: 200%;
  object-fit: cover;
}
  
 
/* .card-body {
  margin: 0 auto;
  height: 200px;
}  */
